@import '../../../variables.scss';

input {
  background-color: $primary-color;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  padding: 16px 24px;
  width: calc(100% - 48px);
  margin-top: 24px;

  
}