@import '../../../variables.scss';

.input-area {
  margin-top: 24px;
  position: relative;

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
  }
  
  input {
    background-color: var(--primary-color);
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
    width: calc(100% - 48px);  
    color: var(--font-color);
  }
}


