// light mode
$primary-color: #F4F4F4;
$font-color: #2D2D2D;
$light-gray: #757575;
$background-color: #ffffff;

// dark mode
$dark-primary-color: #1F1F1F;
$dark-background-color: #050505;
$dark-light-gray: #757575;
$dark-font-color: #fff;

$pink: #A445ED;