<audio #audioPlayer>
  <source type="audio/mp3">
</audio>

<div class="main-container" appTheme [isDark]="isDarkMode">
  <header>
    <img class="logo" src="../assets/images/logo.svg">
    <div class="container">   
      <div class="select-container">
        <select [(ngModel)]="fontSelected" (change)="onSelectFont()">
          <option value="sans-serif">Sans Serif</option>
          <option value="serif">Serif</option>
          <option value="monospace">Mono</option>
        </select>
      </div>
      <div class="switch-container">
        <label class="switch">
          <input type="checkbox" [(ngModel)]="isDarkMode" >
          <span class="slider"></span>
        </label>
        <img src="../../assets/images/icon-moon.svg" *ngIf="!isDarkMode" class="moon" />
        <img src="../../assets/images/icon-moon-dark.svg" *ngIf="isDarkMode" class="moon" />
      </div>
    </div>
  </header>

  <app-input (onSearch)="search($event)" ></app-input>

  <main *ngIf="dictionaryData">
    <div class="pronunciation">
      <div class="container">
        <p class="word">{{dictionaryData.word}}</p>
        <p class="phonetic">{{dictionaryData.phonetic}}</p>
      </div>
      <img (click)="playPronunciation()" src="../../assets/images/icon-play.svg">
    </div>
    <div class="meanings">
      <div class="meaning" *ngFor="let meaning of dictionaryData.meanings">
        <div class="part-of-speech">
          <span >{{meaning.partOfSpeech}}</span>
        </div>
        <h3>Meaning</h3>
        <ul class="definitions">
          <li *ngFor="let definition of meaning.definitions">
            <span class="definition">
              {{definition.definition}}
            </span>

            <span *ngIf="definition.example" class="example">
              "{{definition.example}}"
            </span>
          </li>
        </ul>
        <div class="synonyms-container" *ngIf="meaning.synonyms.length">
          <span class="title">Synonyms</span>
          <span class="synonyms-list" *ngFor="let synonym of meaning.synonyms; let i = index">{{synonym}}<span *ngIf="i != (meaning.synonyms.length - 1)">; </span></span>
        </div>
      </div>
    </div>
    <div class="source">
      <p class="title">Source</p>
      <a [href]="dictionaryData.sourceUrls[0]" class="url">{{dictionaryData.sourceUrls[0]}}</a>
    </div>
  </main>
</div>