@import '../../variables.scss';

.main-container {
  padding: 5%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .container {
    select {
      border: none;
      font-size: 1.125rem;
      font-weight: 700;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: url('../../assets/images/icon-arrow-down.svg') no-repeat center right #FFF;
      width: 120px;
    }
  }

}

main {
  margin-top: 24px;

  .pronunciation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 50px;
    }

    .word {
      color: $font-color;
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.4375rem;
    }

    .phonetic {
      margin-top: 8px;
      color: $pink;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.5rem;
    }
  }
}
