<audio #audioPlayer>
  <source [src]="" type="audio/mp3">
</audio>

<div class="main-container">
  <header>
    <img class="logo" src="../assets/images/logo.svg">
    <div class="container">
      <select [(ngModel)]="fontSelected" (change)="onSelectFont()">
        <option value="sans-serif">Sans Serif</option>
        <option value="serif">Serif</option>
        <option value="monospace">Mono</option>
      </select>
    </div>
  </header>

  <app-input (onSearch)="search($event)" ></app-input>

  <main>
    <div class="pronunciation">
      <div class="container">
        <p class="word">{{dictionaryData.word}}</p>
        <p class="phonetic">{{dictionaryData.phonetic}}</p>
      </div>
      <img (click)="playPronunciation()" src="../../assets/images/icon-play.svg">
    </div>
  </main>
</div>